.custom-node-container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  gap: 1.25rem !important;
}

.flow-builder-addable-node-item {
  cursor: pointer;
  background-color: #5c31ff;
  border-radius: 8px;
  color: white;
  padding: 6px 8px;
}
