.flow-builder-addable-nodes {
  .custom-node-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px 24px;
    cursor: pointer;
    &:hover {
      background-color: #f7f7f7;
    }
    .flow-builder-addable-node-icon {
      display: flex;
      margin-right: 4px;
    }
  }
}

.node-image-container {
  width: 3.5rem;
  height: 3.5rem;
  align-self: center;
}

.node-info {
  margin-left: 0.25rem;
  display: flex;
  flex-direction: column;
}

.node-title {
  font-size: medium;
  font-weight: 500;
  color: #545454;
}

.node-desc {
  font-size: small;
  color: #4f4f4f;
}
